/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='1000' preserveAspectRatio='none' viewBox='0 0 600 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1182%26quot%3b)' fill='none'%3e%3crect width='600' height='1000' x='0' y='0' fill='rgba(38%2c 32%2c 183%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c456.288C88.728%2c467.085%2c179.397%2c444.354%2c256.376%2c398.929C335.093%2c352.478%2c403.686%2c284.604%2c435.894%2c199.066C467.178%2c115.983%2c456.12%2c23%2c429.86%2c-61.805C406.097%2c-138.547%2c345.473%2c-193.122%2c295.08%2c-255.688C242.575%2c-320.877%2c209.881%2c-418.382%2c128.141%2c-436.409C46.015%2c-454.521%2c-25.471%2c-380.556%2c-100.706%2c-342.974C-162.296%2c-312.208%2c-222.328%2c-283.246%2c-272.613%2c-236.221C-327.756%2c-184.653%2c-389.483%2c-132.105%2c-405.166%2c-58.254C-421.179%2c17.151%2c-389.987%2c93.359%2c-357.441%2c163.238C-325.086%2c232.707%2c-278.45%2c292.475%2c-219.187%2c341.062C-154.035%2c394.477%2c-83.632%2c446.112%2c0%2c456.288' fill='%231b1680'%3e%3c/path%3e%3cpath d='M600 1329.085C674.158 1335.916 754.664 1378.334 818.61 1340.164 882.481 1302.039 894.63 1214.887 912.345 1142.643 927.55 1080.635 918.885 1018.567 913.062 954.988 906.903 887.734 910.8779999999999 818.321 877.277 759.738 839.779 694.361 789.394 619.5840000000001 714.742 609.2239999999999 639.3389999999999 598.759 579.458 669.434 514.677 709.4159999999999 466.453 739.179 425.68600000000004 774.373 384.35 813.138 337.882 856.716 281.247 891.681 257.353 950.735 230.18099999999998 1017.89 214.529 1096.431 242.724 1163.163 271.098 1230.319 339.707 1271.431 405.828 1302.138 466.318 1330.23 533.586 1322.967 600 1329.085' fill='%23413bdd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1182'%3e%3crect width='600' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    .form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-side{
        display: none;
    }

    h1{
        padding: 5px 0px;
    }

    #text{
        width: 400px;
        margin: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}