/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='1000' preserveAspectRatio='none' viewBox='0 0 600 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1182%26quot%3b)' fill='none'%3e%3crect width='600' height='1000' x='0' y='0' fill='rgba(38%2c 32%2c 183%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c456.288C88.728%2c467.085%2c179.397%2c444.354%2c256.376%2c398.929C335.093%2c352.478%2c403.686%2c284.604%2c435.894%2c199.066C467.178%2c115.983%2c456.12%2c23%2c429.86%2c-61.805C406.097%2c-138.547%2c345.473%2c-193.122%2c295.08%2c-255.688C242.575%2c-320.877%2c209.881%2c-418.382%2c128.141%2c-436.409C46.015%2c-454.521%2c-25.471%2c-380.556%2c-100.706%2c-342.974C-162.296%2c-312.208%2c-222.328%2c-283.246%2c-272.613%2c-236.221C-327.756%2c-184.653%2c-389.483%2c-132.105%2c-405.166%2c-58.254C-421.179%2c17.151%2c-389.987%2c93.359%2c-357.441%2c163.238C-325.086%2c232.707%2c-278.45%2c292.475%2c-219.187%2c341.062C-154.035%2c394.477%2c-83.632%2c446.112%2c0%2c456.288' fill='%231b1680'%3e%3c/path%3e%3cpath d='M600 1329.085C674.158 1335.916 754.664 1378.334 818.61 1340.164 882.481 1302.039 894.63 1214.887 912.345 1142.643 927.55 1080.635 918.885 1018.567 913.062 954.988 906.903 887.734 910.8779999999999 818.321 877.277 759.738 839.779 694.361 789.394 619.5840000000001 714.742 609.2239999999999 639.3389999999999 598.759 579.458 669.434 514.677 709.4159999999999 466.453 739.179 425.68600000000004 774.373 384.35 813.138 337.882 856.716 281.247 891.681 257.353 950.735 230.18099999999998 1017.89 214.529 1096.431 242.724 1163.163 271.098 1230.319 339.707 1271.431 405.828 1302.138 466.318 1330.23 533.586 1322.967 600 1329.085' fill='%23413bdd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1182'%3e%3crect width='600' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

    #imglogo{
        width: 100px;
        margin-left: 100px;
    }
    .form{
        border-radius: 0%;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-side{
        display: none;
    }

    h1{
        padding: 5px 0px;
    }

    #text{
        width: 400px;
        margin: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    body{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='768' height='1000' preserveAspectRatio='none' viewBox='0 0 768 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='768' height='1000' x='0' y='0' fill='rgba(38%2c 32%2c 183%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c499.342C93.869%2c487.914%2c125.43%2c365.558%2c191.373%2c297.782C239.885%2c247.922%2c307.876%2c217.077%2c336.375%2c153.617C364.794%2c90.336%2c346.931%2c19.397%2c347.544%2c-49.969C348.281%2c-133.335%2c390.926%2c-228.638%2c340.339%2c-294.905C290.076%2c-360.748%2c186.165%2c-340.052%2c107.141%2c-364.889C26.132%2c-390.35%2c-47.083%2c-461.059%2c-129.998%2c-442.734C-213.355%2c-424.311%2c-270.618%2c-345.538%2c-313.751%2c-271.867C-352.402%2c-205.85%2c-352.939%2c-127.874%2c-358.989%2c-51.615C-364.661%2c19.879%2c-370.885%2c90.947%2c-347.928%2c158.893C-323.267%2c231.883%2c-278.927%2c294.45%2c-223.86%2c348.333C-158.195%2c412.586%2c-91.198%2c510.445%2c0%2c499.342' fill='%231b1680'%3e%3c/path%3e%3cpath d='M768 1462.4479999999999C852.312 1450.277 918.496 1391.074 985.624 1338.629 1047.083 1290.613 1113.0529999999999 1243.195 1141.56 1170.599 1169.4189999999999 1099.652 1153.751 1021.467 1139.575 946.576 1125.946 874.574 1102.45 806.513 1061.182 745.957 1015.833 679.4110000000001 970.091 595.9639999999999 890.853 581.601 811.349 567.1890000000001 750.013 651.9639999999999 672.73 675.5419999999999 596.649 698.7529999999999 495.821 658.9159999999999 442.872 718.275 390.049 777.4929999999999 432.784 871.831 427.038 950.977 421.794 1023.218 398.256 1091.857 410.57 1163.233 425.757 1251.261 437.372 1350.546 505.868 1407.886 575.718 1466.3600000000001 677.84 1475.463 768 1462.4479999999999' fill='%23413bdd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='768' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

    
    #imglogo{
        width: 100px;
        margin-left: 100px;
    }

    .form{
        border-radius: 0%;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-side{
        display: none;
    }

   

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body{
         background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='992' height='1000' preserveAspectRatio='none' viewBox='0 0 992 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='992' height='1000' x='0' y='0' fill='rgba(38%2c 32%2c 183%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c303.701C62.938%2c307.743%2c126.701%2c312.213%2c184.647%2c287.317C248.773%2c259.766%2c309.831%2c218.079%2c342.655%2c156.485C376.313%2c93.326%2c377.243%2c18.053%2c365.79%2c-52.593C354.475%2c-122.391%2c328.525%2c-191.391%2c278.205%2c-241.066C229.652%2c-288.997%2c159.393%2c-300.695%2c94.174%2c-320.726C28.099%2c-341.02%2c-40.147%2c-381.746%2c-105.376%2c-358.878C-170.303%2c-336.116%2c-197.656%2c-261.695%2c-236.394%2c-204.836C-270.691%2c-154.495%2c-302.822%2c-104.635%2c-318.662%2c-45.817C-336.19%2c19.269%2c-361.563%2c91.031%2c-332.446%2c151.823C-303.388%2c212.49%2c-231.194%2c236.589%2c-170.01%2c264.541C-116.021%2c289.206%2c-59.234%2c299.897%2c0%2c303.701' fill='%231b1680'%3e%3c/path%3e%3cpath d='M992 1386.202C1072.465 1387.768 1163.594 1415.426 1227.756 1366.843 1291.87 1318.297 1276.766 1218.4569999999999 1310.157 1145.297 1343.537 1072.161 1430.7060000000001 1018.03 1423.504 937.9590000000001 1416.317 858.052 1328.837 814.265 1275.029 754.754 1222.537 696.698 1187.647 611.143 1111.53 592.9200000000001 1035.61 574.744 967.865 640.721 893.143 663.325 819.222 685.687 724.158 665.7429999999999 674.707 725.0640000000001 625.203 784.4490000000001 660.4870000000001 874.315 653.105 951.274 646.158 1023.699 613.752 1093.861 632.5889999999999 1164.137 653.108 1240.688 694.645 1316.126 762.067 1357.783 829.124 1399.215 913.191 1384.6689999999999 992 1386.202' fill='%23413bdd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='992' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        }

    .container{
        display: flex;
        
        
        
    }

    .form{
        width: 300px;
        background-color: rgba(84, 9, 182, 0.849);
        opacity: 0.6;
        margin: auto;
        border-radius: 0%;
        opacity: 0.7;
    }

    .inputForm{
        background-color: rgba(84, 9, 182, 0.753);
    }

    #imglogo{
        width: 100px;
        margin-left: 100px;
    }

    #svg-img{
        
        width: 400px;
        opacity: 0.9;
        
    }

    .left-side{
        
    }

    

  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1200' height='1000' preserveAspectRatio='none' viewBox='0 0 1200 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1200' height='1000' x='0' y='0' fill='rgba(38%2c 32%2c 183%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c455.48C103.003%2c455.575%2c207.503%2c510.614%2c302.378%2c470.509C402.075%2c428.366%2c488.44%2c340.677%2c517.945%2c236.538C546.557%2c135.554%2c479.969%2c36.441%2c454.188%2c-65.302C431.479%2c-154.923%2c440.721%2c-259.84%2c375.55%2c-325.416C311.116%2c-390.25%2c206.461%2c-378.731%2c118.387%2c-403.19C31.904%2c-427.208%2c-48.288%2c-478.784%2c-137.377%2c-467.863C-233.809%2c-456.042%2c-336.267%2c-419.399%2c-392.963%2c-340.504C-448.781%2c-262.83%2c-414.966%2c-156.294%2c-429.244%2c-61.716C-443.655%2c33.748%2c-499.737%2c124.066%2c-477.269%2c217.961C-452.967%2c319.522%2c-395.511%2c423.426%2c-302.021%2c469.953C-209.923%2c515.787%2c-102.873%2c455.385%2c0%2c455.48' fill='%231b1680'%3e%3c/path%3e%3cpath d='M1200 1437.134C1283.292 1430.462 1361.315 1405.088 1434.9470000000001 1365.585 1513.808 1323.277 1586.784 1272.853 1640.138 1201.004 1702.953 1116.415 1788.421 1021.636 1766.96 918.484 1745.3600000000001 814.6659999999999 1614.88 780.0550000000001 1537.476 707.575 1469.965 644.358 1421.807 564.723 1341.042 519.656 1244.788 465.946 1139.213 403.177 1031.182 425.058 921.606 447.25199999999995 822.7629999999999 531.6320000000001 777.403 633.818 734.639 730.156 798.941 837.317 801.404 942.691 803.3489999999999 1025.903 766.515 1107.334 790.3330000000001 1187.088 816.067 1273.257 862.79 1358.415 939.5509999999999 1405.267 1015.751 1451.776 1111.013 1444.262 1200 1437.134' fill='%23413bdd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1200' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

    .container{
        display: flex;

    }
    
    #imglogo{
        width: 100px;
        margin-left: 100px;
    }
    
  

    .left-side{
        display: none;
    }

    h1{
        padding: 5px 0px;
    }

    #text{
        width: 400px;
        margin: auto;
    }
}