 @charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/* Noto Sans*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgba(36, 12, 248, 0.801);
    background: linear-gradient(47deg, rgba(28, 43, 255, 0.842) 0%, rgba(249, 103, 254, 0.658) 100%);
    
    
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  background-color: #fa67fe;
  width: 55rem;
  border-radius: 0px 50px 50px 0px;
}

header > a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

.text{
  margin-left: 7rem;
  padding: 20px;
}

.text h1{
  font-weight: bold;
  font-size: 2.5em;
  color: #fff;

}

.text h2{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 20px;
  color: #fff;
}
.text p{
  width: 45rem;
  margin-top: 20px;
  color: #5a265c;
}

.buttons{
  display: block;
  position: absolute;
  bottom: 10rem;
  left: 7.5rem;
}

button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin: 10px;
}

.b-login{
  border: 2px solid #fff;
  background-color: transparent;
  
}

.b-register{
  border: 2px solid #fff;
  color: #6E3BFD;
}

