 @charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/* Noto Sans*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #0C121C;
    
    
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* Card left-login */ 

.card {
    width: 26em;
    height: 24.5em;
    background: #6441d6;
    transition: 1s ease-in-out;
    border-radius: 2px 0px 0px 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 10px solid #0C121C;
    
  }
  
  .card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 1em;
  }
  
  .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 1em;
    margin: 1em;
    
  }
  
  .card .img {
    width: 9em;
    height: 9.5em;
    background: white;
    border-radius: 50%;
    border: 1px solid white;
    align-self: center;
  }

 
  
  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card a {
    color: white;
    transition: 0.4s ease-in-out;
  }
  
  .card a:hover {
    color: #0C121C;
  }
  
  
  
  

  /* End left-login */

  /* Card right-login */

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 9.5px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #6441d6;
    border-radius: 0px 70px 2px 0px;
  }
  
  .form-heading {
    text-align: center;
    margin: 2em;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #1E293B;
    box-shadow: inset 2px 1px 5px rgba(5, 5, 5, 0.658);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #64ffda;
    font-weight: bold;
    outline: 1px solid #64ffda;
    transition: all ease-in-out 0.3s;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #64ffda;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
 
  

  
  .form-card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .form-card2:hover {
  
  }
 /* End right-login */  
  